.container {
  height: 100vh;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

path {
  -webkit-transition: fill 0.13s;
  -o-transition: fill 0.13s;
  transition: fill 0.13s;
}

path:hover {
  fill: #f89924;
}

#map-wrapper {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;

  -webkit-box-pack: center;

  -webkit-justify-content: center;

  -ms-flex-pack: center;

  justify-content: center;
}

.map-pointer {
  cursor: pointer;
}

#path-modal {
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  top: 20%;
  margin: 0 auto;
  height: 550px;
  width: 450px;
  text-align: center;
  display: none;
}

#path-modal > img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  fill: #f8ca24;
}

.region-block {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}

.region-block > img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 4;
  fill: #f8ca24;
}

#close-modal-btn {
  left: 100%;
  position: absolute;
  padding: 0;
  width: 25px;
  height: 25px;
}

#mask {
  position: absolute;
  z-index: 1;
  background: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: none;
}

.btn-secondary {
  background: #f89924;
  border: none;
}

.path-modal-content {
  position: absolute;
  z-index: 5;
  height: 70px;
  width: 70px;
  background: none;
  border: none;

  -webkit-transition: all 0.17s;

  -o-transition: all 0.17s;

  transition: all 0.17s;
}

.path-modal-content:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#chernivci-path-modal {
  top: 220px;
  left: 150px;
}

#ivanoFrankivsk-path-modal {
  left: 203px;
  top: 159px;
  width: 140px;
}

#zakarpattia-path-modal {
  left: 87px;
  top: 240px;
}

#drogobych-path-modal {
  left: 130px;
  top: 310px;
}

#chernivci-pointer,
#ivanoFrankivsk-pointer,
#ternopil-pointer,
#volyn-pointer,
#zakarpattia-pointer,
#lviv-pointer {
  height: 40px;
  width: auto;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.17s;
  -o-transition: all 0.17s;
  transition: all 0.17s;
  cursor: pointer;
}

#chernivci-pointer:hover,
#ivanoFrankivsk-pointer:hover,
#ternopil-pointer:hover,
#volyn-pointer:hover,
#zakarpattia-pointer:hover,
#lviv-pointer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bd-example-modal-xl {
  text-align: justify;
}
