.container {
  height: 100vh;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

video {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-right,
.img-left {
  height: auto;
  border-radius: 4px;
  margin-top: 7px;
  margin-bottom: 0px;
}

.img-right {
  float: right;
  margin-left: 7px;
}

.img-left {
  float: left;
  margin-right: 7px;
}

path {
  -webkit-transition: fill 0.13s;
  -o-transition: fill 0.13s;
  transition: fill 0.13s;
}

path:hover {
  fill: #f89924;
}

#map-wrapper {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;

  -webkit-box-pack: center;

  -webkit-justify-content: center;

  -ms-flex-pack: center;

  justify-content: center;
}

.map-pointer {
  cursor: pointer;
}

#path-modal {
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  top: 20%;
  margin: 0 auto;
  height: 550px;
  width: 450px;
  text-align: center;
  display: none;
}

#path-modal > img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  fill: #f8ca24;
}

.region-block {
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
}

.region-block > img {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 4;
  fill: #f8ca24;
}

.modal-body {
  text-align: center;
}

.modal-body .content-wrapper {
  text-align: justify;
}

.modal-body h2:nth-child(1) {
  margin-top: 0;
}

.modal-body h2 {
  margin-top: 20px;
}

.modal-body .img-group {
  display: flex;
  flex-wrap: wrap;
}

.img-group > img {
  margin: 3px;
  border-radius: 4px;
  width: calc(33.3333% - 6px);
  height: auto;
}

#close-modal-btn {
  left: 100%;
  position: absolute;
  padding: 0;
  width: 25px;
  height: 25px;
}

#mask {
  position: absolute;
  z-index: 1;
  background: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: none;
}

.btn-secondary {
  background: #f89924;
  border: none;
}

.path-modal-content {
  position: absolute;
  z-index: 5;
  height: 70px;
  width: 70px;
  font-size: 14px;
  background: none;
  border: none;
  -webkit-transition: all 0.17s;
  -o-transition: all 0.17s;
  transition: all 0.17s;
}

.path-modal-content:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#chernivci-path-modal {
  top: 220px;
  left: 150px;
}

#ivanoFrankivsk-path-modal {
  left: 203px;
  top: 159px;
  width: 140px;
}

#zakarpattia-path-modal {
  left: 170px;
  top: 250px;
}

#drogobych-path-modal {
  left: 130px;
  top: 310px;
}

#zovkva-path-modal {
  left: 197px;
  top: 150px;
}

#pidhirtsi-and-olesko-castles-path-modal {
  left: 300px;
  top: 180px;
  width: 150px;
}

#pidhirtsi-and-olesko-castles-path-modal p {
  width: 150px;
}

#sambir-path-modal {
  top: 255px;
  left: 35px;
}

#lutsk-path-modal {
  top: 350px;
  left: 257px;
}

#tarakan-fort-path-modal {
  width: 100px;
  top: 372px;
  left: 47px;
}

#ternopil-path-modal {
  top: 167px;
  left: 210px;
}

#zbaraz-path-modal {
  width: 100px;
  top: 130px;
  left: 260px;
}

#chernivci-pointer,
#ivanoFrankivsk-pointer,
#ternopil-pointer,
#volyn-pointer,
#zakarpattia-pointer,
#lviv-pointer {
  height: 40px;
  width: auto;
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.17s;
  -o-transition: all 0.17s;
  transition: all 0.17s;
  cursor: pointer;
}

#chernivci-pointer:hover,
#ivanoFrankivsk-pointer:hover,
#ternopil-pointer:hover,
#volyn-pointer:hover,
#zakarpattia-pointer:hover,
#lviv-pointer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bd-example-modal-xl {
  text-align: justify;
}

iframe {
  width: 962px;
  height: 565px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  iframe {
    width: 766px;
    height: 455px;
  }
}

@media screen and (max-width: 992px) {
  iframe {
    width: 446px;
    height: 275px;
  }
}

.copyright {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.copyright a {
  text-decoration: none !important;
  color: black !important;
  opacity: 0.5;
  transition: 0.2s;
}

.copyright a:hover {
  text-decoration: none;
  color: black !important;
  opacity: 1;
}

.copyright a::after {
  content: "";
  transform: scale(0);
  border: 0.7px solid black;
  display: block;
  transition: 0.2s;
}

.copyright a:hover::after {
  content: "";
  transform: scale(1);
  border: 0.7px solid black;
  display: block;
}
